{% extends "shop/base.html" %}
{% load humanize %}
{% load static %}
{% block title %}
    {% if category %}{{ category.title }}{% else %}Products{% endif %}
{% endblock %}
{% block content %}
    <div class="product-detail">
        <img src="{% if product.image %}{{ product.image.url }}{% else %}{% static 'img/no_image.png' %}{% endif %}">
        <h1>
            Only <strong id="sensitive"><em>{{product.stock}}</em></strong> &quot;{{ product.name }}&quot; available on stock.
        </h1>
        <h2>
            <a href="{{ product.category.get_absolute_url }}">{{ product.category }}</a>
        </h2>
        <div class="count-container">
            <span class="price">${{ product.price }}</span>
            <span class="count">
                <span class="total">{{ product_views }}</span>
                view{{ product_views|pluralize }}
            </span>
        </div>
        {{ product.description|linebreaks }}
        <!--The form is handled in cart_add view, thus 'action'-->
        <form id="add" action="{% url  'cart:cartAdd' product.id %}" method="post">
            {{ cart_product_form }}
            {% csrf_token %}
            <input type="submit" value="Add to cart">
        </form>
    </div> 
    <span class="count">
        <span class="total">{{ product_views }}</span>
        view{{ product_views|pluralize }}
    </span>
    {% if recommended_products %}
            <div class="recommendations cart">
                <h3>People who bought this also bought</h3>
                {% for p in recommended_products %}
                    <div class="item">
                        <a href="{{ p.get_absolute_url }}">
                            <img src="{% if p.image %}{{ p.image.url }}{% else %}{% static "img/no_image.png" %}{% endif %}">
                        </a>
                        <p><a href="{{ p.get_absolute_url }}">{{ p.name }}</a></p>
                    </div>
                {% endfor %}
            </div>
    {% endif %}
{% endblock content %}
{% block domready %}
$("h1").hover(function () {
    $(this).css("color", "red");
});
{% endblock domready %}
