<!DOCTYPE html>
{% load static %}
<html>
    <head>
        <meta charset="utf-8" />
        <title>{% block title %}My shop{% endblock title %}</title>
        <link href="{% static 'css/base.css' %}" rel="stylesheet">
    </head>
    <body>
        <div id="header">
            <a href="/" class="logo">My shop</a>
        </div>
        <div id="subheader">
            <div class="cart">
                {% with total_items=cart|length %}
                {% if cart|length > 0 %}
                    Your cart:
                <a href="{% url 'cart:cartDetail' %}">
                    {{ total_items }} item{{ total_items|pluralize }},
                    ${{ cart.get_total_price }}
                </a>
                {% else %}
                    Your cart is empty.
                {% endif %}
                {% endwith %}
            </div>
        </div>
        <div id="content">
            {% block messages %}
                {% if messages %}
                    <ul class="messagelist">
                        {% for message in messages %}
                           <li> {{message|capfirst|safe}}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            {% endblock messages %}
            {% block content %}
            {% endblock content %}
        </div>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
        <script src=" http://cdn.jsdelivr.net/jquery.cookie/1.4.1/jquery.cookie.min.js "></script>
        <script>
            //Create cross site request forgery token for each ajax request.
            /*
            * Extract django 'csrf_token' from cookies.
            * Create reliable requests, i.e should not be checked.
            * Send django 'csrf_token' to ajax request through 'X-CSRFToken'
            */
            var csrftoken = $.cookies('csrftoken');
            function reliableMethod(method){
                return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
            }
            $.ajaxSetup({
                beforeSend: function(xhr, settings){
                    if(!reliableMethod(settings.type) && !this.crossDomain){
                        xhr.setRequestHeader("X-CSRFToken", csrftoken);
                    }
                }
            });
            $(document).ready(function(){
                {% block doomready %}
                {% endblock doomready %}
            });
        </script>
    </body>
</html>